Every year was computed (took about 5 hours to compute on personal computer).

In [7]:
import pandas as pd
import os

base_dir = './all_years'

years = range(2018, 2025)

dfs = []
for year in years:
    csv_path = os.path.join(base_dir, str(year), 'final_summary.csv')
    if os.path.exists(csv_path):
        df = pd.read_csv(csv_path)
        dfs.append(df)
    else:
        print(f"Missing file: {csv_path}")

combined_df = pd.concat(dfs, ignore_index=True)

combined_df.head()

  route_id    month    lateness   size  average_lateness
0       01  2018-08  17535886.0  53615        327.070521
1       01  2018-09  18634849.0  50318        370.341607
2       01  2018-10  17362675.0  53733        323.128710
3       01  2018-11  15374531.0  50827        302.487477
4       01  2018-12  11708026.0  53173        220.187426

In [ ]:
combined_df = combined_df.dropna()
combined_df.isna().sum()

route_id            0
month               0
lateness            0
size                0
average_lateness    0
dtype: int64

In [9]:
combined_df.to_csv("final_route_summary.csv", index=False)

In [ ]:
citywide_avg_lateness = final_summary["lateness"].sum() / final_summary["size"].sum()

target_routes = ["22", "29", "15", "45", "28", "44", "42", "17", "23", "31", "26", "111", "24", "33", "14"]

target_routes_summary = final_summary[final_summary["route_id"].isin(target_routes)]

target_routes_avg_lateness = (target_routes_summary["average_lateness"] * target_routes_summary["size"]).sum() / target_routes_summary["size"].sum()

print(citywide_avg_lateness)

route_avg_wait_time = final_summary.groupby("route_id", as_index=False)["average_lateness"].mean()
target_routes_avg_wait_time = route_avg_wait_time[route_avg_wait_time["route_id"].isin(target_routes)]

target_routes_avg_wait_time